<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- START: Generate list with Handlebars -->
      <tr>
        <td>Dummy Cell</td>
        <td>In Progress</td>
      </tr>
      <!-- END: Generate list with Handlebars -->
    </tbody>
  </table>
</div>

{{outlet}}
